<!-- Sub-menu -->
<div id="sub-navigation">
    <ul>
        <li><a href=@Url.Action("Index")>TẤT CẢ</a></li>
        <li><a href=@Url.Action("OnTheater")>PHIM ĐANG CHIẾU</a></li>
        <li><a href=@Url.Action("ComingSoon")>PHIM SẮP CHIẾU</a></li>
    </ul>
    <div id="search">
        <form action="home_submit" method="get" accept-charset="utf-8">
            <input type="submit" value="" class="search-button" />
        </form>
    </div>
</div>
<!-- end Sub-Menu -->