@{
    ViewBag.Title = "Ticket";
}

<!-- Sub-menu -->
<div id="sub-navigation">
    <ul>
        <li><a href="#">GIÁ VÉ</a></li>
    </ul>
    <div id="search">
        <form action="home_submit" method="get" accept-charset="utf-8">
            <label for="search-field">TÌM KIẾM</label>
            <input type="text" name="search field" value="Điền thông tin tìm kiếm ở đây" id="search-field" title="Enter search here" class="blink search-field" />
            <input type="submit" value="TÌM" class="search-button" />
        </form>
    </div>
</div>
<!-- end Sub-Menu -->


