@model Manage.Models.FilmSale
@{
    ViewBag.Title = "";
}
@Scripts.Render("~/bundles/jquery")

<script type="text/javascript">
    function refreshChart() {

    }
    $(document).ready(function () {
        $('select#listMonth').change(function () {
            var year = $('#listYear').val();
            var month = $('#listMonth').val();
            var query = '/Statistics/TicketSale?FilmID=' + year + '&month=' + month;
            window.location = query;
        })
        $('select#listYear').change(function () {
            var year = $('#listYear').val();
            var month = $('#listMonth').val();
            var query = '/Statistics/TicketSale?FilmID=' + year + '&month=' + month;
            window.location = query;
        })
    });
</script>

<h2>Tổng số vé bán được theo film</h2>
<table>
    <tr>
        <td> Chọn film</td>
        <td>@Html.DropDownListFor(m => m.FilmSelect, Model.listFilm, new { Name = "listYear", Id = "listYear" })</td>
        <td> Chọn tháng</td>
        <td>@Html.DropDownListFor(m => m.monthSelect, Model.listMonth, new { Name = "listMonth", Id = "listMonth" })</td>
    </tr>
</table>

<img src="@Url.Action("FilmSaleChart", new { filmID = Model.FilmSelect, month = Model.monthSelect , type = 2})" alt="Chart" />