@model Manage.Models.TicketSale
@{
    ViewBag.Title = "";
}
@Scripts.Render("~/bundles/jquery")

<script type="text/javascript">
    function refreshChart() {

    }
    $(document).ready(function () {
        $('select#listMonth').change(function () {
            var year = $('#listYear').val();
            var month = $('#listMonth').val();
            var query = '/Statistics/TicketSale?RoomID=' + year + '&month=' + month;
            window.location = query;
        })
        $('select#listYear').change(function () {
            var year = $('#listYear').val();
            var month = $('#listMonth').val();
            var query = '/Statistics/TicketSale?RoomID=' + year + '&month=' + month;
            window.location = query;
        })
    });
</script>

<h2>Tổng số vé bán được theo phòng</h2>
<table>
    <tr>
        <td> Chọn phòng chiếu</td>
        <td>@Html.DropDownListFor(m => m.roomSelect, Model.listRoom, new { Name = "listYear", Id = "listYear" })</td>
        <td> Chọn tháng</td>
        <td>@Html.DropDownListFor(m => m.monthSelect, Model.listMonth, new { Name = "listMonth", Id = "listMonth" })</td>
    </tr>
</table>

<img src="@Url.Action("TicketSaleChart", new { roomID = Model.roomSelect, month = Model.monthSelect })" alt="Chart" />