@{
    ViewBag.Title = "TBS";
}
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>@ViewBag.Title.</h1>
            <h2>@ViewBag.Message</h2>
        </hgroup>
    </div>
</section>
<h3>Trong trang này, bạn có thể:</h3>
<ol class="round">
    <li class="one">
        <h5>Quản lí Nhân viên</h5>
        
        <a href=@Url.Action("List","ManageUser")>Learn more…</a>
    </li>

    <li class="two">
        <h5>Quản lí film và lịch chiếu</h5>
        Thêm các bộ film mới và các lịch chiếu film theo ngày
        <a href=@Url.Action("List","ManageFilm")>Learn more…</a>
    </li>

    <li class="three">
        <h5>Thống kê </h5>
        Thống kê doanh số bán vé của từng film 
        <a href=@Url.Action("Index","Statistics")>Learn more…</a>
    </li>
</ol>
